<h1>Delete Product</h1>
<form (ngSubmit)="submitDelete()" style="margin-top: 20px" >
  <div class="form-group">
    <label for="id"><h5>Id sản phẩm</h5></label>
    <input class="form-control" id="id" placeholder="Nhập id" type="number" name="id" [ngModel]="product.id" disabled>
  </div>
  <br>
  <div class="form-group">
    <label for="name"><h5>Tên sản phẩm</h5></label>
    <input class="form-control" id="name" placeholder="Nhập tên sản phẩm" type="text" name="name"
           [ngModel]="product.name" disabled>
  </div>
  <br>
  <div class="form-group">
    <label for="price"><h5>Giá sản phẩm</h5></label>
    <input class="form-control" id="price" placeholder="Nhập giá sản phẩm" type="text" name="price"
           [ngModel]="product.price" disabled>
  </div>
  <br>
  <div class="form-group">
    <label for="description"><h5>Mô tả sản phẩm</h5></label>
    <input class="form-control" id="description" placeholder="Nhập mô tả sản phẩm" type="text" name="description"
           [ngModel]="product.description" disabled>
  </div>
  <div style="margin-top: 20px">
    <button class="btn btn-primary" type="submit">Delete</button>
  </div>
</form>


